.header{
    img.about-background{
        width: 100%;
        height: auto;
        position: absolute;
    }
    .header-content{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 47vw;
        color: #fff;
        .header-info{
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            img.background-logo{
                width: 100%;
                height: auto;
            }
            h3{
                font-size: 50px;
                margin: 20px 0 10px 0;
                font-family: 'Avenir Black' , Arial, sans-serif;
            }
            p{
                margin: 0;
                font-size: 15px;
                font-family: 'Avenir Heavy' , Arial, sans-serif;
            }
        }
    }
}

@media only screen and (max-width: 768px){
    .header{
        img.about-background{
            width: 100%;
        }
        .header-content{
            height: 48vw;
            .header-info{
                img.background-logo{
                    width: 50%;
                    margin: 0 auto;
                }
                h3{
                    font-size: 4vw;
                    margin: 2vw 0 1vw 0;
                }
                p{
                    margin: 0 10vw;
                    font-size: 2vw;
                }
            }
        }
    }
}

@media only screen and (max-width: 400px){
    .header{
        img.about-background{
            width: 100%;
        }
        .header-content{
            height: 48vw;
            .header-info{
                img.background-logo{
                    width: 50%;
                    margin: 0 auto;
                }
                h3{
                    font-size: 5vw;
                    margin: 2vw 0 1vw 0;
                }
                p{
                    margin: 0 5vw;
                    font-size: 3vw;
                }
            }
        }
    }
}
