@font-face {
  font-family: 'Avenir Black';
  src: local('Avenir Black'), url(avenir_black.otf) format('OpenType');
}
@font-face {
  font-family: 'Avenir Heavy';
  src: local('Avenir Heavy'), url(avenir_heavy.ttf) format('TrueType');
}
@font-face {
  font-family: 'Avenir Light';
  src: local('Avenir Black'), url(avenir_light.otf) format('OpenType');
}
@font-face {
  font-family: 'Avenir Medium';
  src: local('Avenir Medium'), url(./avenir_medium.ttf) format('TrueType');
}
