.slider-content-container{
    background-image: url(../../assets/img/icon_team_sun-bulb.png);
    background-repeat: no-repeat;
    background-size: 30% 100%;
    background-position: 5vw bottom;
}

@media only screen and (max-width: 767px){
    .slider-content-container{
        background-size: 90% 100%;
        background-position: center;
    }
}

@media only screen and (max-width: 400px){
    .slider-content-container{
        background-size: 90% 100%;
        background-position: center;
    }
}