@import "./src/theme";

.individual-research-container{
    width: 100%;
    .card{
        box-shadow: $lightBoxShadow;
        background-color: $lightColor;
        padding: 30px 40px 30px 40px;
        border-radius: 10px;
        color: $primaryColor;
        margin-bottom: 20px;

        .card-top-solo{
            display: flex;
            flex-direction: row;
            .card-left{
                width: 100%;
                display: flex;
                flex-direction: column;
                margin-right: 20px;
                h1.title{
                    font-size: 26px;
                    font-weight: 600;
                    text-transform: capitalize;
                    color: #333;
                    font-family: 'Avenir Black' , Arial, sans-serif;
                }
                .upper-data{
                    display: flex;
                    .left{
                        margin-right: 80px;
                        sub.label{
                            font-size: 14px;
                            color: #bfbfbf;
                            font-family: 'Avenir Heavy' , Arial, sans-serif;
                        }
                        h5.text{
                            font-size: 15px;
                            margin: 5px 0 10px 0;
                            color: #616161;
                            font-family: 'Avenir Heavy' , Arial, sans-serif;
                        }  
                    }
                    .right{
                        sub.label{
                            font-size: 14px;
                            color: #bfbfbf;
                            font-family: 'Avenir Heavy' , Arial, sans-serif;
                        }
                        h5.text{
                            font-size: 15px;
                            margin: 5px 0 10px 0;
                            color: #616161;
                            font-family: 'Avenir Heavy' , Arial, sans-serif;
                        }  
                    }
                }
            }
        }
        .card-bottom-solo{
            .lower-data{
                display: flex;
                .content{
                    display: flex;
                    margin-right: 60px;
                    .data{
                        margin-left: 10px;
                        .name{
                            font-size: 12px;
                            color: #616161;
                            margin: 0;
                            font-family: 'Avenir Heavy' , Arial, sans-serif;
                        }
                        sub.label{
                            font-size: 10px;
                            color: #bfbfbf;
                            font-family: 'Avenir Heavy' , Arial, sans-serif;
                        }
                        h5.text{
                            font-size: 11px;
                            margin: 5px 0 10px 0;
                            color: #616161;
                            font-family: 'Avenir Heavy' , Arial, sans-serif;
                        }  
                    }
                }
            }
           .abstract{
                h3.subTitle{
                    margin: 60px 0 10px 0;
                    font-size: 15px;
                    text-transform: uppercase;
                    font-family: 'Avenir Heavy' , Arial, sans-serif;
                }
                p{
                    color: #616161;
                    font-size: 14px;
                    margin: 30px 0 30px 0;
                    font-family: 'Avenir Heavy' , Arial, sans-serif;
                }
           }
        }
    }
}


@media only screen and (max-width: 768px){
    .individual-research-container{
        width: 100%;
        .card{
            padding: 3vw 3vw 3vw 3vw;
            margin-bottom: 20px;
    
            .card-top-solo{
                .card-left{
                    margin-right: 2vw;
                    h1.title{
                        font-size: 3vw;
                    }
                    .upper-data{
                        .left{
                            margin-right: 8vw;
                            sub.label{
                                font-size: 2vw;
                            }
                            h5.text{
                                font-size: 2vw;
                                margin: 0.5vw 0 1vw 0;
                            }  
                        }
                        .right{
                            sub.label{
                                font-size: 2vw;
                            }
                            h5.text{
                                font-size: 2vw;
                                margin: 0.5vw 0 1vw 0;
                            }  
                        }
                    }
                }
            }
            .card-bottom-solo{
                .lower-data{
                    .content{
                        margin-right: 6vw;
                        .data{
                            margin-left: 1vw;
                            .name{
                                font-size: 2vw;
                            }
                            sub.label{
                                font-size: 1vw;
                            }
                            h5.text{
                                font-size: 1vw;
                                margin: 0.5vw 0 1vw 0;
                            }  
                        }
                    }
                }
               .abstract{
                    h3.subTitle{
                        margin: 6vw 0 1vw 0;
                        font-size: 2vw;
                    }
                    p{
                        font-size: 2vw;
                        margin: 3vw 0 3vw 0;
                    }
               }
            }
        }
    }
    
}

@media only screen and (max-width: 400px){
    .individual-research-container{
        width: 100%;
        .card{
            .card-top-solo{
                .card-left{
                    margin-right: 3vw;
                    h1.title{
                        font-size: 4vw;
                    }
                    .upper-data{
                        .left{
                            sub.label{
                                font-size: 3vw;
                            }
                            h5.text{
                                font-size: 3vw;
                            }  
                        }
                        .right{
                            sub.label{
                                font-size: 3vw;
                            }
                            h5.text{
                                font-size: 3vw;
                            }  
                        }
                    }
                }
            }
            .card-bottom-solo{
                .lower-data{
                    flex-direction: column;
                    .content{
                        .data{
                            .name{
                                font-size: 3vw;
                            }
                            sub.label{
                                font-size: 2vw;
                            }
                            h5.text{
                                font-size: 2vw;
                            }  
                        }
                    }
                }
               .abstract{
                    h3.subTitle{
                        font-size: 3vw;
                    }
                    p{
                        font-size: 3vw;
                    }
               }
            }
        }
    }
    
}


