.slick-slider{
    width: 90%;
    margin: 0 auto;
    svg{
        color: #b5b5b5;
        font-size: 70px;
    }
    .slick-next{
        left: 100%;
    }
    .slick-prev{
        left: -7%;
    }
    svg:hover{
        color: #feb51c;
    }
    .slick-list{
        height: 420px;
        .slick-track{
            height: 100%;
            .slider-content{
                display: flex !important;
                height: 400px;
                flex-direction: row;
                align-items: center;
                justify-content: flex-end;
                .left-content{
                    .name{
                        sub.label{
                            font-size: 12px;
                            color: #b5b5b5;
                            font-family: 'Avenir Heavy' , Arial, sans-serif;
                        }
                        p.data{
                            margin: 5px 0 0 0;
                            font-size: 24px;
                            color: #616161;
                            font-weight: 600;
                            font-family: 'Avenir Heavy' , Arial, sans-serif;
                        }
                    }
                    .role{
                        margin-top: 15px;
                        sub.label{
                            font-size: 12px;
                            color: #b5b5b5;
                            font-family: 'Avenir Heavy' , Arial, sans-serif;
                        }
                        p.data{
                            margin: 5px 0 0 0;
                            font-size: 15px;
                            color: #616161;
                            font-family: 'Avenir Heavy' , Arial, sans-serif;
                        }
                    }
                    .education{
                        margin-top: 15px;
                        sub.label{
                            font-size: 12px;
                            color: #b5b5b5;
                            font-family: 'Avenir Heavy' , Arial, sans-serif;
                        }
                        p.data{
                            margin: 5px 0 0 0;
                            font-size: 15px;
                            color: #616161;
                            font-family: 'Avenir Heavy' , Arial, sans-serif;
                        }
                    }
                    .research{
                         margin-top: 15px;
                        sub.label{
                            font-size: 12px;
                            color: #b5b5b5;
                            font-family: 'Avenir Heavy' , Arial, sans-serif;
                        }
                        p.data{
                            margin: 5px 0 0 0;
                            font-size: 15px;
                            color: #616161;
                            font-family: 'Avenir Heavy' , Arial, sans-serif;
                        }
                    }
                    a{
                        margin: 5px 0 0 0;
                        font-size: 12px;
                        color: #1b99f4;
                        text-decoration: none;
                        font-weight: 600;
                        margin-top: 30px;
                        display: block;
                    }
                }
            }
        }
    }
}

//TeamCard Tablet
@media only screen and (max-width: 767px){
    .slick-slider{
        width: 90%;
        margin: 20px auto;
        svg{
            color: #b5b5b5;
            font-size: 70px;
        }
        .slick-next{
            left: 100%;
        }
        .slick-prev{
            left: -11%;
        }
        svg:hover{
            color: #feb51c;
        }
        .slick-list{
            height: 100%;
            .slick-track{
                height: 100%;
                .slider-content{
                    display: flex !important;
                    height: 100%;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    .left-content{
                        .name{
                            sub.label{
                                font-size: 2vw;
                            }
                            p.data{
                                font-size: 3vw;
                            }
                        }
                        .role{
                            margin-top: 1.5vw;
                            sub.label{
                                font-size: 2vw;
                            }
                            p.data{
                                font-size: 2vw;
                            }
                        }
                        .education{
                            margin-top: 1.5vw;
                            sub.label{
                                font-size: 2vw;
                            }
                            p.data{
                                font-size: 1.5vw;
                            }
                        }
                        .research{
                             margin-top: 1.5vw;
                            sub.label{
                                font-size: 2vw;
                            }
                            p.data{
                                font-size: 2vw;
                            }
                        }
                        a{
                            font-size: 2vw;
                        }
                    }
                    img.extra-lg.spacing{
                        margin: 2vw 0 !important;
                    }
                    img.extra-lg{
                        width: 30vw;
                        height: 30vw;
                    }
                }
            }
        }
    }
}

//TeamCard Mobile
@media only screen and (max-width: 400px){
    .slick-slider{
        width: 90%;
        .slick-next{
            left: 100%;
        }
        .slick-prev{
            left: -11%;
        }
        svg{
            font-size: 7vw;
        }
        .slick-list{
            height: 100%;
            .slick-track{
                height: 100%;
                .slider-content{
                    display: flex !important;
                    height: 100%;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    .left-content{
                        .name{
                            sub.label{
                                font-size: 3vw;
                            }
                            p.data{
                                font-size: 4vw;
                            }
                        }
                        .role{
                            margin-top: 2.5vw;
                            sub.label{
                                font-size: 3vw;
                            }
                            p.data{
                                font-size: 3vw;
                            }
                        }
                        .education{
                            margin-top: 2.5vw;
                            sub.label{
                                font-size: 3vw;
                            }
                            p.data{
                                font-size: 2.5vw;
                            }
                        }
                        .research{
                             margin-top: 2.5vw;
                            sub.label{
                                font-size: 3vw;
                            }
                            p.data{
                                font-size: 3vw;
                            }
                        }
                        a{
                            font-size: 3vw;
                        }
                    }
                    img.extra-lg.spacing{
                        margin: 3vw 0 !important;
                    }
                    img.extra-lg{
                        width: 40vw;
                        height: 40vw;
                    }
                }
            }
        }
    }
}

